.App {
    height: 95vh;
    padding: 1rem;
}

.header {
    height: 100%;
    border-radius: 3px;  
    color: white;
    background-image: url("./assets/beach.jpg");
    clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    z-index: 2;

    &__box {
        position: absolute;
         top: 4.1rem;
         left: 23.5rem;
        display: flex;
        flex-direction: column;
    }
}


.headline {   
    //margin-right: 40rem;
    letter-spacing: 3px;
    font-size: 5rem;
    font-style: italic;

}

.content {
    margin-top: -25rem;
    background-color: #fffd8a;
    width: 100%;
    height: 100rem;
    padding: 1rem;  
}

.logo {

    width: 30rem;
    height: 20rem;
    object-fit: contain;
}